grammar SilkFile

  rule top_level_declaration
    alias? assignment value
  end

  rule assignment
    '<=' / '|='
  end

  rule word
    [a-zA-Z]+
  end

  rule alias
    word
  end

  rule value
    template( construct / visor / string )
  end


end
